cmake==3.26.4
crc32c==2.3.post0
decord==0.6.0
deepspeed==0.5.8
einops==0.6.1
filelock==3.12.2
hjson==3.1.0
lit==16.0.6
ninja==1.11.1
numpy==1.24.3
opencv-python==4.8.0.74
packaging==23.1
pandas==2.0.3
Pillow==9.5.0
protobuf==4.23.3
psutil==5.9.5
python-dateutil==2.8.2
pytz==2023.3
scipy==1.10.1
six==1.16.0
tensorboardX==2.6.1
timm==0.4.12
torch==1.10.0+cu111
torchaudio==0.10.0+rocm4.1
torchvision==0.11.0+cu111
tqdm==4.65.0
triton==2.0.0.post1
typing-extensions==4.6.3
tzdata==2023.3
